In [1]:
from types_data.utils import RasterIOInd
import geopandas as gpd, warnings

warnings.filterwarnings("ignore")
settlem_path = (
    "../Data/Raster/settlement/GHS_BUILT_C_MSZ_E2018_GLOBE_R2022A_54009_10_V1_0.tif"
)
dist_data = gpd.read_file("../Data/gjson/adm_3.geojson").sort_values(
    "area", ascending=False
)

In [2]:
sample = dist_data.head(2)

In [8]:
ghs = RasterIOInd(
    settlem_path,
    dist_data,
    "ghs",
    only_metric=True,
    settlement=True,
)
ghs.get_result()

100%|██████████| 1141/1141 [10:37<00:00,  1.79it/s]

In [5]:
# ghs.result_df

In [15]:
result = ghs.result_df.fillna(method="ffill")
result.to_csv("../output/GHS/base/ghs.csv", index = False) 
ghs.result_df.to_csv("../output/GHS/base/ghs_native.csv", index = False)

# Package

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
result = pd.read_csv("../output/GHS/base/ghs.csv")

In [2]:
result.head()

,index,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,values,count
0,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,1,19309
1,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,2,56
2,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,3,1
3,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,5,158
4,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,11,15591

In [3]:
from types_data.settlement import GHS
results = GHS(result, save_dir="../output/GHS").generate_data()

In [4]:
results.with_na_result.head()

,index,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,ghs_1,ghs_2,...,ghs_12,ghs_13,ghs_14,ghs_15,ghs_21,ghs_22,ghs_23,ghs_24,ghs_25,ghs_255
0,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,0.024064,0.000070,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.956237
6,761.0,223557.0,ET2023A3050503,222748.0,Ethiopia,Somali,Korahe,Shilabo,0.062649,0.015415,...,0.002981,0.002400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.857949
14,797.0,223593.0,ET2023A3050901,222752.0,Ethiopia,Somali,Liben,Filtu,0.013929,0.029799,...,0.001713,0.002031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.916835
22,94.0,222890.0,ET2023A3020102,222702.0,Ethiopia,Afar,Awusi,Elidar,0.066136,0.000116,...,0.000706,0.001186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.875394
30,742.0,223538.0,ET2023A3050304,222746.0,Ethiopia,Somali,Jarar,Gashamo,0.092533,0.037428,...,0.001028,0.000246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99.759242

In [5]:
results.without_na_result.head()

,index,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,ghs_1,ghs_2,...,ghs_11,ghs_12,ghs_13,ghs_14,ghs_15,ghs_21,ghs_22,ghs_23,ghs_24,ghs_25
0,112.0,222908.0,ET2023A3020207,222703.0,Ethiopia,Afar,Kilbati,Afdera,54.987897,0.159476,...,44.399829,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,761.0,223557.0,ET2023A3050503,222748.0,Ethiopia,Somali,Korahe,Shilabo,44.103046,10.851448,...,40.898834,2.098533,1.689357,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,797.0,223593.0,ET2023A3050901,222752.0,Ethiopia,Somali,Liben,Filtu,16.748920,35.831135,...,39.261501,2.059837,2.441708,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,94.0,222890.0,ET2023A3020102,222702.0,Ethiopia,Afar,Awusi,Elidar,53.075960,0.093065,...,44.059348,0.566948,0.952045,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,742.0,223538.0,ET2023A3050304,222746.0,Ethiopia,Somali,Jarar,Gashamo,38.433941,15.546032,...,44.512805,0.427133,0.102304,0.0,0.0,0.0,0.0,0.0,0.0,0.0